@font-face {
  font-family: "oldstyle";
  src: url("oldstyle.ttf");
}

body {
  background-color: #e4e4e4;
  font-family: "oldstyle";
}

footer {
  clear: both;
}

h1 {
  margin-top: 150px;
}

li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 10px;
  text-align: center;
}

a {
  color: darkred;
  text-decoration: none;
}

.bold-letters {
  font-size: 1.5em;
}

.first-name {
  font-size: .75em;
}

.logo {
  position: relative;
}

.logotype {
  position: absolute;
  top: 120px;
  float: left;
  left: 30%;
}

.nav {
  width: 30%;
  float: left;
  text-align: center;
}

.main {
  width: 66%;
  float: right;
  text-align: center;
}

.main-content {
  text-align: justify;
  margin: 10px;

}


.char-img {
  border-radius: 10px;
  float: left;
  width: 100%;
}

.character {
  box-sizing: border-box;
  padding: 5px;
  display: block;
  text-align: center;
  max-width: 33%;
  float: left;
}

.char-name {
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (min-width:1300px) {
  .character {
    max-width: 16.6%;
  }

  .nav {
    width: 100%;
  }
  .logo {
    float: left;
    left: 4%;
  }
  .navigation {
    text-align: center;
  }

  li {
    box-sizing: border-box;
    margin: 5px;
    display: inline;
    border-top: 1px;
    font-size: .75em;
    padding: 5px;
    float: right;
    width: 20%;

  }

  .bold-letters {
    font-size: 1em;
  }

  .main {
    margin-top: -300px;
  }

}

@media screen and (max-width:775px) {
  li {
    box-sizing: border-box;
    margin: 5px;
    display: inline;
    border-top: 1px;
    font-size: .75em;
    padding: 5px;
    float: left;
    width: 30%;
  }

  .bold-letters {
    font-size: 1em;
  }

  h1 {
    clear: both;
  }
  ul {
    border-top: 1px solid grey;
  }


  .nav {
    float: none;
    width: 100%;
    text-align: justify;
    /*display: inline;*/
  }

  #logo {
    display: none;
  }

  .logotype {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    left: 35%;
    top: 70px;
    /*position: relative;*/
    /*CENTER THE LOGOTYPE*/
  }

  .main {
    float: none;
    width: 100%;
  }
}



@media screen and (max-width:520px) {

  .character {
    max-width: 49%;
  }

  .char-img {
    width: 100%;
  }

  .gallery {
    max-width: 100%;
  }

  .main {
    float: none;
    width: 100%;
  }

  .nav {
    width: 100%;
    float: none;
  }
}
